<main class="home">
  <aside class="home__painel-pessoal">
    <figure class="home__painel-pessoal__imagem">
      <img>
    </figure>

    <h2 class="home__painel-pessoal__titulo">Olá, você!</h2>

    <p class="home__painel-pessoal__subtitulo">Organize sua rotina</p>

    <ul class="home__painel-pessoal__lista">
      <li><a href=”#”>Link1</a></li>
      <li><a href=”#”>Link2</a></li>
      <li><a href=”#”>Link3</a></li>
      <li><a href=”#”>Link4</a></li>
      </ul>
  </aside>

  <section class="home__painel-tarefas">
    <header class="home__painel-tarefas__cabecalho">
      <h1>Lista de tarefas</h1>
      <button>Criar task</button>
    </header>

    <section class="home__painel-tarefas__tabela">
      <div class="home__painel-tarefas__tabela__tarefas-dia">
        <h2>Dia</h2>
      </div>

      <div class="home__painel-tarefas__tabela__tarefas-noite">
        <h2>Noite</h2>
      </div>
    </section>
  </section>
</main>
